{% extends 'app/index_template.html' %}}

{% block content %}
 <h2 style="text-align: center">Тема дипломной работы по Python разработке:</h2>
                <h4 style="text-align: center">"Анализ и сравнение написания web-приложений с использованием разных
                    фреймворков: Разработать простые веб-приложения с использованием Django, Flask и FastAPI,
                    провести их сравнение."</h4>
                <u><h2 style="text-align: center">фреймворк Django</h2></u>
{% endblock %}